#nav-bar {
  background-color: #6F2540;
  color: #e8fdff;
  height: 80px;
  padding-right: 2em;
  padding-left: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  margin-top: 3px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar button {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: white;
  color: #00a087;
  float: right;
  font-size: 110%;
  height: 56px;
  width: 96px;
  margin-top: 12px;
  opacity: 0.9;
}

#nav-bar button:hover {
  color: black;
  opacity: 1;
}
