/* compose new-tweet */

.new-tweet {
  border: 1px solid #d3d3d3;
  background-color: #eee;
  padding: 0px 8px 8px 8px;
  border-radius: 8px;
  overflow: auto;
}

.new-tweet h2 {
  border-bottom: 1px solid #000;
  text-align: left;
  margin-top: 8px;
}

.new-tweet textarea {
  padding: 5px;
  width: 100%;
}

.new-tweet input {
  float: left;
}

.counter {
  float: right;
  font-style: italic;
  font-size: 85%;
}

.redMax {
  color: red;
}

.error-messages {
  display: inline-block;
}

.error-messages p {
  display: none;
  color: red;
  font-weight: 550;
  margin: 1px 10px;
}